h1{
    font-family: Helvetica, sans-serif;
    text-align: center;
}

body{
    padding-left: 5%;
    padding-right: 5%;
}

p{
    font-family: Helvetica, sans-serif;
    text-align: justify;
}

#textFoot{
    color: rgb(0, 119, 255);
    text-align: center;
}

span::after{
    content: '\A\A'; white-space: pre;
}

